body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

img{
   width:100%;
   }
   
   #short{
      width:5.5%;
      }

/* Add a black background color to the top navigation */
.topnav {
  position: relative;
  background-color: #fff;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 38px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #fff;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #fff;
  color: white;
}

/* Centered section inside the top navigation */
.topnav-centered a {
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Right-aligned section inside the top navigation */
.topnav-right {
  float: right;
}

/* Responsive navigation menu - display links on top of each other instead of next to each other (for mobile devices) */
@media screen and (max-width: 600px) {
  .topnav a {
    float: none;
    display: block;
  }

  .topnav-centered a {
    position: relative;
    top: 0;
    left: 0;
    transform: none;
  }
}


/* ----------------------------------------------------*/

/* Style the navigation menu */
.navbar2 {
  width: 100%;
  background-color: #007BFF;
  overflow: auto;
}

/* Navigation links */
.navbar2 a {
  float: left;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
  width: 23.5%; /* Four equal-width links. If you have two links, use 50%, and 33.33% for three links, etc.. */
  text-align: center; /* If you want the text to be centered */
}

/* Add a background color on mouse-over */
.navbar2 a:hover {
  background-color: #000;
}

/* Style the current/active link */
.navbar2 a.active {
  background-color: #04AA6D;
}

/* Add responsiveness - on screens less than 500px, make the navigation links appear on top of each other, instead of next to each other */
@media screen and (max-width: 500px) {
  .navbar2 a {
    float: none;
    display: block;
    width: 100%;
    text-align: left; /* If you want the text to be left-aligned on small screens */
  }
}
/*------------------------------------------------------ */

header {
    background-color: #007BFF;
    color: white;
    padding: 1rem;
}

main {
    padding: 2rem;
}

h1 {
    color: #007BFF;
}

h2 {
    color: #007BFF;
}

p {
    line-height: 1.5;
}

footer {
    background-color: #007BFF;
    color: white;
    text-align: center;
    padding: 1rem;
    margin-top: 1rem;
}
